@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
body {
    margin: 0;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 50px;
}
h1 span{
    color: #9A0680;
}
.the-area {
    display: flex;
    margin-bottom: 140px;
}
#wlc-area {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-container {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-container img {
    width: 95%;
}
.link-button {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 5px 20px;
    background-image: linear-gradient(#e6b822, #bb1f14ee);
    border-radius: 8px;
}
#aim-area {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}